
def test Unit =
  def deps = source "{here}/foo/ivydependencies.json", Nil
  fetchScalaForTest "{here}/build" deps
  | map getPathResult
  | findFail
  | getFail
  | omap (\_ Pass here.testNameFromDir)
  | getOrElse (Fail "Expected Scala fetching to fail!".makeError)

publish apiScalaSiFiveTests = test, Nil
